.app-info {
  padding: 24px;
  background-color: #3d5a80;
  border-radius: 4px;
  box-shadow: 15px 15px 30px #00000026;
  color: #fff;
}

.app-info-header {
  font-size: 40px;
}

.app-info-hint {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 500;
  line-height: 1.2;
}