.page404__message {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.page404__link {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-top: 30px;
    color: #9f0013;
}